<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
        <%= title %>
    </title>

</head>

<body>
    <%- include("./styles/style.ejs") %>
        <div class="mail-container">
            <%- include("./partials/header.ejs") %>

                <main>
                    <div class="mail-content">
                        <div class="container">

                            <h1>
                                Je Toegangscode
                            </h1>

                            <p class="greeting">
                                Hoi <%= firstName %>,
                            </p>
                            <p class="content">
                                Je hebt zojuist een toegangscode aangevraagd om in te loggen op <%= domainName %>.
                                    Gebruik onderstaande code om verder te gaan.
                                    Deze code is <span class="otp-duration">5 minuten</span> geldig, en kan maar
                                    &#233;&#233;n keer gebruikt worden.
                                    Deel deze code nooit met anderen.
                            </p>
                            <p class="otp">
                                <%= otp %>
                            </p>
                        </div>
                    </div>

                    <div class="help-text">
                        <p>
                            Heb je hulp nodig of vragen? Stuur dan een bericht naar
                            <a href="mailto:archisketch@gmail.com" class="email">Bryan@MegaBryte.nl</a>

                        </p>
                    </div>

                </main>

                <%- include("./partials/footer.ejs") %>

        </div>
</body>

</html>