<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
        <%= title %>
    </title>

</head>

<body>
    <%- include("./styles/style.ejs") %>
        <div class="mail-container">
            <%- include("./partials/header.ejs") %>

                <main>
                    <div class="mail-content">
                        <div class="container">

                            <h1>
                                Welkom!
                            </h1>

                            <p class="greeting">
                                Hoi <%= firstName %>,
                            </p>
                            <p class="content">
                                Er is een account voor je aangemaakt op <%= domainName %>.
                                    Je kunt nu inloggen met het email adres <%= email %>
                            </p>

                        </div>
                    </div>

                    <div class="help-text">
                        <p>
                            Heb je hulp nodig of vragen? Stuur dan een bericht naar
                            <a href="mailto:Bryan@MegaBryte.nl" class="email">Bryan@MegaBryte.nl</a>

                        </p>
                    </div>

                </main>

                <%- include("./partials/footer.ejs") %>

        </div>
</body>

</html>